// colors
$hover-color: #00CFFF;
$text-color: #00E2AC;
$gallery-bg: #EEFDF9;
$shaddow-color: rgba(0, 0, 0, 0.25);

.hero {
    font-family: 'Roboto', serif;
    text-align: center;
    min-height: 800px;
    background-size: cover;
    padding: 0 0 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &.landscape {
        color: white;
    }

    &.bridge {
        background: url("../img/bridge/full-width.jpg");
        width: 100%;
    }

    h1 {
        line-height: 55px;
        font-size: 72px;
    }

    h2 {
        margin: 100px 0 50px;
        font-size: 40px;
        line-height: 40px;
    }
}

.cta {
    backrgound-color: black;
    color: white;
    padding: 0;
    width: 180px;
    font-size: 18px;
    line-height: 50px;
    border: 0;
    border-radius: 4px;
    cursor: ponter;

    &:hover {
        background-color: $hover-color;
    }
}

#intro {
    h1,
    h5 {
        text-shadow: 0 5px 5px $shaddow-color;
    }

    h5 {
        margin-bottom: 20px;
        font-size: 24px;
        font-weight: 700;
    }
}

#about {
    min-height: 0;

    .left-col {
        color: $text-color;
        padding: 20px;
        text-align: right;
        text-transform: uppercase;
        font-weight: 700px;

        h2 {
            margin-top: 0;
            margin-bottom: 0;
            font-size: 60px;
            font-weight: 700;
            line-height: 55px;
        }
    }

    .right-col {
        padding: 20px;
        text-align: left;

        h5 {
            font-size: 24px;
            line-height: 30px;
        }
    }
}

#gallery {
    background-color: $gallery-bg;
    padding: 0;
    margin: 0;

    .col-md-4 {
        overflow: hidden;
        padding: 0 5px 10px;

        img {
            height: 100%;
            max-width: 390px;
            max-height: 380px;
        }
    }
}

#contact p {
    font-size: 24px;
    margin-bottom: 40px;
    max-width: 740px;
}

#social {
    padding: 20px;

    a {
        margin: 0 0 0 10px;
        text-decoration: none;
    }

    img {
        height: 20px;

        &:hover {
            opacity: 0.5;
        }
    }
}

#footer {
    height: 40px;
    margin-left: 10%;
    margin-left: 10%;
    padding-bottom: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;

    a {
        color: black;
        font-size: 16px;
        line-height: 40px;
        padding: 0;
        margin-left: 5px;
        margin-right: 20px;
    }

    .footer-item {
        flex: 1;
        max-width: 100px;
    }
}

.copyright {
    margin-left: auto;
    color: $text-color;
}
@media only screen and (max-width: 480px) {
    #intro {
        min-height: 640px;
    }

    .left-col h2 {
        font-size: 42px;
        line-height: 40px;
    }

    #footer {
        margin-right: 20px;
        margin-left: 20px;

        h4 {
            padding-right: 20px;
        }
    }
}
@media only screen and (max-width: 992px) {
    .row {
        width: 100%;
    }

    .col-md-4 {
        width: 100%;

        img {
            width: 100%;
            max-width: 992px;
            max-height: 900px;
        }
    }
}
